html, body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	color: #444;
	font-size: 14px;
}

a {
	color: #6FB9AD;
}

a:hover {
	color: #2BA490;
}

.help {
	width: 100%;
	text-align: center;
}

.actions {
	background: #eee;
	width: 100%;
	text-align: center;
	padding: 5px 0;
}
.header {
	text-align: center;
	background: #2BA490;
	color: #fff;
	padding: 10px 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, .4);
	position: relative;
	z-index: 1;
}

.header h1 {
	margin: 0;
	font-size: 24px;
}

.group {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding:5px;
	margin: 0 10px;
}
.group label {
	display: block;
	text-align: left;
	color: #444;
}
.btn {
	border: 0 none;
	background: #2BA490;
	color: #fff;
	font-size: 14px;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	padding: 0 15px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}

.btn:hover, .btn.active {
	background: #0e8c77;
}

.dict-group .btn {
	font-size: 12px;
}

.mode-group .btn {
	width: 40px;
	position: relative;
}

.mode-group .btn::before {
	content: '';
	position: absolute;
	top: 18px;
	left: 18px;
	width: 4px;
	height: 4px;
	background: #8ae4d6;
	border-radius: 2px;
}

#mode-around::before {
	box-shadow: 7px 7px 0 #FFF,
				7px 0 0 #FFF,
				0 7px #FFF,
				-7px -7px #FFF,
				-7px 0 #FFF,
				0 -7px #FFF,
				7px -7px #FFF,
				-7px 7px #FFF;
}
			
#mode-across::before {
	box-shadow: 7px 0 0 #FFF,
				0 7px #FFF,
				-7px 0 #FFF,
				0 -7px #FFF;
}
						
#mode-x::before {
	box-shadow: 7px 7px 0 #FFF,
				-7px -7px #FFF,
				7px -7px #FFF,
				-7px 7px #FFF;
}
						
#mode-all::before {
	box-shadow: 7px 7px 0 #FFF,
				7px 0 0 #FFF,
				0 7px #FFF,
				-7px -7px #FFF,
				-7px 0 #FFF,
				0 -7px #FFF,
				7px -7px #FFF,
				-7px 7px #FFF,
				14px 14px 0 #FFF,
				14px 0 0 #FFF,
				0 14px #FFF,
				-14px -14px #FFF,
				-14px 0 #FFF,
				0 -14px #FFF,
				14px -14px #FFF,
				-14px 14px #FFF,
				14px 7px #FFF,
				14px -7px #FFF,
				-14px -7px #FFF,
				-14px 7px #FFF,
				7px 14px #FFF,
				7px -14px #FFF,
				-7px 14px #FFF,
				-7px -14px #FFF;
}

.group input.text{
	height: 38px;
	line-height: 38px;
	width: 38px;
	border: 1px solid #ccc;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif!important;
	padding: 0;
	vertical-align: middle;
	font-size: 14px;
	font-family: sans-serif;
	margin: 0;
}


.main {
	padding-top: 30px;
	width: 100%;
	text-align: center;
}

#mask {
	background: #fff;
	width: 100%;
	height: 200px;
	padding-top: 213px;
	text-align: center;
}

.hide {
	display: none;
}

#board { 
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}

.board-line {
	display: block;
	clear:both;
}

.board-line span {
	float: left;
	position: relative;
}

.board-line i {
	position: absolute;
	top: 0;
	right: 0;
	font-style: normal;
	font-size: 12px;
	border-radius: 2px;
	padding: 0 4px;
	color: #666;
}

.board-line input {
	line-height: 50px;
	display: block;
	height: 50px;
	width: 50px;
	border: 1px solid #ccc;
	border-left: 0 none;
	border-bottom: 0 none ;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif!important;
	text-align: center;
	font-size: 36px;
	font-family: sans-serif;
	background: #fff;
	color: #000;
	outline: 0 none;
}

.board-line input:hover {
	background: #ff8;
}

.board-line input.active {
	background: #ff0;
}

#result {
	width: 240px;
	display: none;
	vertical-align: top;
	margin-left: 15px;
	text-align: left;
}

#result p {
	font-size: 12px;
}

#result.inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

h2 {
	font-size:16px;
}

#output {
	text-align: left;
	padding-left: 50px;
	margin-left: 0;
	margin-top: 0;
	max-height: 320px;
	overflow-y: auto;
	border: 1px solid #ccc;
	background: #ddd;
}

#output li {
	line-height: 26px;
	padding-left: 10px;
	background: #eee;
}

#output li:hover {
	background: #FF8;	
}
