html, body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	color: #222;
}

a {
	color: #6FB9AD;
}

a:hover {
	color: #2BA490;
}

.help {
	width: 100%;
	text-align: center;
}

.actions {
	background: #eee;
	width: 100%;
	text-align: center;
	padding: 5px 0;
}

.group {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding:5px;
	margin: 0 10px;
}

.btn {
	border: 0 none;
	background: #6FB9AD;
	color: #fff;
	font-size: 18px;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
	padding: 0;
	width: 100px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}
.btn:hover {
	background: #2BA490;
}

.group input.text{
	height: 38px;
	line-height: 38px;
	width: 40px;
	border: 1px solid #ccc;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif!important;
	padding: 0;
	vertical-align: middle;
	font-size: 18px;
	font-family: sans-serif;
	margin: 0 3px;
}


.main {
	padding-top: 30px;
	width: 100%;
	text-align: center;
}

#mask {
	background: #fff;
	width: 100%;
	height: 200px;
	padding-top: 213px;
	text-align: center;
}

.hide {
	display: none;
}

#board { 
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}

.board-line {
	display: block;
	clear:both;
}

.board-line input {
	line-height: 50px;
	display: block;
	float: left;
	height: 50px;
	width: 50px;
	border: 1px solid #ccc;
	border-left: 0 none;
	border-bottom: 0 none ;
	font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif!important;
	text-align: center;
	font-size: 36px;
	font-family: sans-serif;
	background: #fff;
	color: #000;
	outline: 0 none;
}

.board-line input:hover {
	background: #ff8;
}

.board-line input.active {
	background: #ff0;
}

#result {
	width: 240px;
	display: none;
	vertical-align: top;
	margin-left: 15px;
	text-align: left;
}

#result p {
	font-size: 12px;
}

#result.inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

h2 {
	font-size:16px;
}

#output {
	text-align: left;
	padding-left: 60px;
	margin-left: 0;
	margin-top: 0;
	max-height: 400px;
	overflow-y: auto;
	border: 1px solid #ccc;
	background: #ddd;
}

#output li {
	line-height: 30px;
	font-size: 18px;
	padding-left: 10px;
	background: #eee;
}

#output li:hover {
	background: #FF8;	
}
